*{
    padding: 0;
    margin: 0;
}


header {
    background-color:grey;
    color:black;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    
}

body{
    background-color: lightsteelblue;
    width: 75%;
    margin: auto;
}
.headerclass{
    display: flex;
    justify-content: space-evenly;
    padding-top: 1%;
    
    
}
.container{
    display:flex;
    flex-direction: column  ;
    justify-content: space-between;
    
    
}
.inlägg {
    box-shadow: 0.01vw 0.01vw 0.2vw 0.1vw ;
    min-width: 25%;
    max-width: 100%;
    margin-top: 5%;
    padding: 2%;
    margin-bottom: 2%;
    text-align: center;
    background-color: lightgray;
    
    
    
}
.bloggText{
    border-style: outset;
    margin-top: 15%;
    border-radius: 7px;
    
    
}

label{
    font-size: 125%;
}
.ulmain{
    
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    justify-content:space-evenly;
    padding-top: 15px;
    padding-bottom: 15px;
    max-width: 80%;
    margin: auto;
    
  }
  footer{
    bottom: 0;
    width: 75%;
    padding-top: 1%;
    position:fixed;
    text-align: center;
    background-color: grey;
    height: 5%;
    margin: auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

h3{
    font-size: 150%;
    padding-bottom: 5%;
}

ul{
    list-style: none;
}


p{
    border-style: inset;
    border-bottom: outset;
    border-right: outset;
    padding-top: 5px;
    filter:grayscale(100%);
    background-color: white;
    font-size: 115%;
}

.newPostButton {
    border-radius: 7px;
    border-color: lightpink;
    margin-top: 0.2vw;
    max-width: 60%;
}
.removePostButton {
    border-radius: 7px;
    border-color: lightpink;
    margin-top: 0.2vw;
    margin-bottom: 0.2vw;
    max-width: 60%;
}
.amountBox {
    border-radius: 7px;
    border-color: lightpink;
    max-width: 50%;
    height: 50%;
}

@media (max-width: 600px) {
.inlägg {
    min-width: 75%;
    max-width: 75%;
}
body{
    width: 100%;
}
footer{
    width: 100%;
}
}
@media (min-width:600px){
    .inlägg {
        min-width: 25%;
        max-width: 25%;
        
        
    }
}